<!-- display a list of users -->
<template name="available_user_list">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{{#if currentUser}}
				<div class="row">
					{{#each users}}
					{{> available_user}}
					{{/each}}
				</div>
				{{else}}
				<h2>You need to login to chat with the users you want.</h2>
				<h2>If you don't want to sign up, here are some testing accounts: user1@test.com, user2@test.com ... user8@test.com, same password for all: test123</h2>
				{{/if}}
				

			</div>
		</div>
		
	</div>
</template>