<!-- simple template that displays a message -->
<template name="chat_message">
	<div class="{{messageBackgroundClass sentBy}}">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-muted">
			<div class="media">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<img src="/{{getUserAvatarById sentBy}}" class="img-responsive" alt="Image"> <br>
				{{getUserById sentBy}}
			</div>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<div class="media-body">
					<p>{{{parseEmoticons text}}}</p>
					</div>
				</div><!-- end column -->
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<span class="label label-info pull-right">{{timeStamp}}</span>
				</div>
			</div>
		</div>
	</div><!-- end columns -->
	<br>
</template>
