<template name="chat_page">
<ol class="breadcrumb">
	{{> bread}}
	<li class="active">Chat room with: {{other_user_name}}</li>
</ol>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Type in the box below to send a message!</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<img src="/{{other_user_avatar}}" class="img-responsive" alt="Image">
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<h2>You're chatting with {{other_user_name}}</h2>
				</div>
			</div>
		</div><!-- end column -->
	</div><!-- end row -->

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{{#each messages}}
			{{> chat_message}}
			{{/each}}
		</div>
	</div>

    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form class="js-send-chat">
			<div class="form-group">
				<label for="">Mensaje</label>
				<input type="text" class="form-control" name="chat" placeholder="Write your message" required>
			</div>
			<button class="btn btn-primary">Send</button>
		</form>
		</div>
	</div>
</template>